<!-- Modal Ficha-->
-<div class="modal fade" id="ver_confirmacion_inscripcion" tabindex="-1" role="dialog" aria-labelledby="ver_confirmacion_inscripcion"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div>
        <h3 class="intense-text" style="text-align: left;">Ficha de confirmación de inscripción</h3>
        <div class="hr-sect"></div>
      </div>

      <div>
        <img class="img center" src="../../../../assets/Nematodos.jpeg" alt="">
        <div class="low-gray">
          <h4>CONFIRMACIÓN DE INSCRIPCIÓN</h4>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, maiores Lorem ipsum dolor sit amet.
          </p>
        </div>
        <p class="text-size">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus repellat eos suscipit placeat
          voluptatem provident odit eveniet ducimus quas debitis, esse saepe quidem enim, expedita voluptas
          molestiae ex pariatur natus!
        </p>
      </div>
      <div class="white-gray">
        21 y 22 de febrero de 2019
      </div>
    </div>
  </div>
</div>