<app-navbar-user></app-navbar-user>
<body class="background image">
    <form>
      <div class="container ">
        <div class="">
          <div class="white-color">
            <h3 class="text-green">Eventos a los que asistirás próximamente</h3>
            <div class="row container">
              <div *ngFor="let d of data3; index as i" class="col-sm-4 col-xl-6 col-md-6 ">
                <div>
                  <img class="img center" src="{{url}}{{d.event.img1}}" alt="">
                  <p class="text-gray">{{d.event.name}}</p>
                  <div class="fas fa-map-marker-alt text-gray-low">Sede: {{d.event.venue}}</div>
                  <br>
                  <div class="fa fa-calendar text-gray-low">{{d.event.date}}</div>
                  <br>
                  <p class="text-size">
                    {{d.event.description}}
                  </p>
                    <div class="col-sm-6 col-xl-12 form-group text-center">
                      <div class="text-center">
                        <!-- <button class="btn btn-primary btn-center border border-dark" style="font-weight: bold;">Subir pago</button> -->           
                        <button class="btn btn-primary btn-center border border-dark" style="font-weight: bold; color: white" routerLink="/subir-comprobante-pago/{{d.event.id}}" data-toggle="modal" data-target=".comprobantePago">Subir pago</button>
                      </div>
                    </div>
                </div>
                <div class="space-div"></div>
                <div class="intense-gray">
                  <div class="row">
                    <div class="col-sm-12 col-xl-8">
                      <!-- <button class="btn btn-block green-color2">Descargar ficha de pago</button> -->
                      <a class="btn btn-block green-color2" style="font-weight: bold; color: white" data-toggle="modal" data-target="#downloadTicket">Descargar ficha de pago</a>
                    </div>
                    <div class="col-sm-12 col-xl-4 size center-icon">
                        <button class="btn red-color">Eliminar</button>
                    </div>
                  </div>
                </div>
                <div class="space-div"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>

  

<app-dficha-pagos-linea></app-dficha-pagos-linea>
