<!-- Modal Ficha-->
-<div class="modal fade" id="confirmacion_inscripcion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="text-green">
        <label for="perfil">
          <h3 class="text-green">Descargar confirmación de inscripción</h3>
        </label>
      </div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Folio</th>
              <th scope="col">Estado</th>
              <th scope="col">Cantidad de personas</th>
              <th scope="col">Total</th>
              <th scope="col">Ficha de inscripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AYUW3OK1</td>
              <td>Pendiente</td>
              <td class="text-center">1</td>
              <td>$ 3543</td>
              <td>
                <button class="btn btn-block green-color2" data-toggle="modal" data-target="#ver_confirmacion_inscripcion">Ver confirmación</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-ver-confirmacion-preinscripcion></app-ver-confirmacion-preinscripcion>