<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<div>Alta código de descuentos</div>
<div class="hr-sect"></div>
<div class="row">
  <div class="col-sm-4">
    <div>
      <div>Nombre del código:</div>
      <div><input type="text" class="form-control" placeholder="Nombre del codigo" aria-label="Recipient's username"
          aria-describedby="basic-addon2"></div>
    </div>
    <div>
      <div>Precio neto:</div>
      <div><input type="text" class="form-control" placeholder="Precio neto" aria-label="Recipient's username"
          aria-describedby="basic-addon2"></div>
    </div>
    <div>
      <div>Uso maximo del código:</div>
      <div><input type="text" class="form-control" placeholder="Uso máximo del código" aria-label="Recipient's username"
          aria-describedby="basic-addon2"></div>
    </div>
  </div>
  <div class="col-sm-8">
    <div>
      <div>
        <div>Precio neto:</div>
        <div><input type="text" class="form-control" placeholder="Precio neto" aria-label="Recipient's username"
            aria-describedby="basic-addon2"></div>
      </div>
      <div>
        <div>Precio neto:</div>
        <div><input type="text" class="form-control" placeholder="Precio neto" aria-label="Recipient's username"
            aria-describedby="basic-addon2"></div>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-secondary">Limpiar</button>
        <button type="button" class="btn btn-success">Guardar</button>
      </div>
    </div>


  </div>
  
</div>
<div class="row">
    <div class="col-sm-12 ddd">
      <div>Códigos de descuentos creados</div>
      <div class="hr-sect"></div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Nombre del paquete:</td>
              <td>Precio neto</td>
              <td>Evento</td>
              <td>Uso maximo del código</td>
              <td>Caducidad del código</td>
              <td>Cantidad utolizada</td>
              <td>Acciones</td>
              <td>Editar</td>
              <td>Eliminar</td>
            </tr>
          </thead>
         
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-user"></i></td>
                  <td><i class="fas fa-eraser"></i></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fas fa-user"></i></td>
                <td><i class="fas fa-eraser"></i></td>
                <td><i class="fas fa-times"></i></td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><i class="fas fa-user"></i></td>
                  <td><i class="fas fa-eraser"></i></td>
                  <td><i class="fas fa-times"></i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="fas fa-user"></i></td>
                    <td><i class="fas fa-eraser"></i></td>
                    <td><i class="fas fa-times"></i></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="fas fa-user"></i></td>
                      <td><i class="fas fa-eraser"></i></td>
                      <td><i class="fas fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td><i class="fas fa-user"></i></td>
                        <td><i class="fas fa-eraser"></i></td>
                        <td><i class="fas fa-times"></i></td>
                      </tr>
        </table>
      </div>
    </div>
  </div>