<!--
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<app-menu></app-menu>

<div>Alta código de descuentos</div>
<div class="hr-sect"></div>
<div>Nuevo código de descuento</div>

<div class="row">
  <div class="col-sm-4">
    <div>
      <label>Nombre del código:</label>
                <input class="form-control" type="text" name="name" placeholder="Nombre" autocomplete="off"
                  formControlName="name" />
                <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">Este
                  campo es requerido</span>
    </div>
    <div>
      <label>Precio neto:</label>
                <input class="form-control" type="text" name="name" placeholder="Valor del cupon" autocomplete="off"
                  formControlName="value" />
                <span class="text-danger" *ngIf="valForm.controls['value'].hasError('required') && (valForm.controls['value'].dirty || valForm.controls['value'].touched)">Este
                  campo es requerido</span>
    </div>
    <div>
      <label>Uso maximo del código:</label>
      <input class="form-control" type="text" name="name" placeholder="Usos del cupon" autocomplete="off"
        formControlName="times_usable" />
    </div>
  </div>
  <div class="col-sm-8">
    <div>
      <div>
        <label>Caducidad del código <small>(DD/MM/YYYY)</small></label>
        <input class="form-control" type="text" name="name" placeholder="Fecha del evento" autocomplete="off"
          formControlName="expires_at" mask="00/00/0000" [showMaskTyped]="true" />
        <span class="text-danger" *ngIf="valForm.controls['expires_at'].hasError('required') && (valForm.controls['expires_at'].dirty || valForm.controls['expires_at'].touched)">Este
          campo es requerido</span>
      <!--
      <div>
        <div>Precio neto:</div>
        <div><input type="text" class="form-control" placeholder="Precio neto" aria-label="Recipient's username"
            aria-describedby="basic-addon2"></div>
      </div>
    --
      <div class="buttons">
        <button  type="button" class="btn btn-secondary" click)="cleanForm()">Limpiar</button>
        <button   class="btn btn-success"  type="submit" (submit)="save($event)" >Guardar</button>
      </div>
    </div>


  </div>
  
</div>

<div class="row">
    <div class="col-sm-12 ddd">
      <div>Códigos de descuentos creados</div>
      <div class="hr-sect"></div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Nombre del paquete:</td>
              <td>Precio neto</td>
              <td>Evento</td>
              <td>Uso maximo del código</td>
              <td>Caducidad del código</td>
              <td>Cantidad utolizada</td>
              <td>Acciones</td>
              <td>Editar</td>
              <td>Eliminar</td>
            </tr>
          </thead>
         
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-user"></i></td>
                  <td><i class="fas fa-eraser"></i></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fas fa-user"></i></td>
                <td><i class="fas fa-eraser"></i></td>
                <td><i class="fas fa-times"></i></td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><i class="fas fa-user"></i></td>
                  <td><i class="fas fa-eraser"></i></td>
                  <td><i class="fas fa-times"></i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="fas fa-user"></i></td>
                    <td><i class="fas fa-eraser"></i></td>
                    <td><i class="fas fa-times"></i></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><i class="fas fa-user"></i></td>
                      <td><i class="fas fa-eraser"></i></td>
                      <td><i class="fas fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td><i class="fas fa-user"></i></td>
                        <td><i class="fas fa-eraser"></i></td>
                        <td><i class="fas fa-times"></i></td>
                      </tr>
        </table>
      </div>
    </div>
  </div>
-->