<app-navbar-user></app-navbar-user>
<body class="background image">
    <form>
      <div class="container ">
        <div class="col-xl-12">
          <div class="white-color" style="width: auto; height: 100%;">
            <h3 class="text-green">Agregar o editar mis datos de facturación</h3>
            <div class="row container">
              <div class="col-sm-12 col-xl-12">
                <div>
                  <h2 class="intense-gray">¿Te gustaría hacer cambios en tus datos?</h2>
                  <div class="hr-sect"></div>
                </div>
                <div class="space-div"></div>
                <div class="intense-gray">
                  <div class="row">
                    <div class="col-sm-12 col-xl-6">
                      <!-- <button class="btn btn-block green-color2">Descargar ficha de pago</button> -->
                      <div class="left form-group">
                          <label class="left" for="social_reason">Razón social:</label>
                          <input type="text" class="form-control" placeholder="Razón social" name="social_reason" id="social_reason">
                      </div>
                      <div class="left form-group">
                          <label class="left" for="rfc">RFC:</label>
                          <input type="text" class="form-control" placeholder="RFC" name="rfc" id="rfc">
                      </div>
                      <div class="left form-group">
                          <label class="left" for="email">Correo electrónico:</label>
                          <input type="text" class="form-control" placeholder="Correo electrónico" name="email" id="email">
                      </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                      <!--<button class="btn btn-block green-color">Descargar facturas</button>-->
                      <div class="left form-group">
                          <label class="left" for="payment_method">Método de pago:</label>
                          <input type="text" class="form-control" placeholder="Método de pago" name="payment_method" id="payment_method">
                      </div>
                      <div class="left form-group">
                          <label class="left" for="use_type">Tipo de uso:</label>
                          <select class="form-control" name="use_type" id="use_type">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                          </select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-xl-12">
                      <div class="row">
                        <div class="col-sm-12 col-xl-6">
                            <button class="btn btn-block gray-color">Limpiar</button>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <button class="btn btn-block green-color">Guardar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="margin-top: 3%;">
                    <table class="table table-striped" style="text-align: center;">
                      <thead>
                        <tr>
                          <th scope="col">Folio</th>
                          <th scope="col">Razón social</th>
                          <th scope="col">RFC</th>
                          <th scope="col">Método de pago</th>
                          <th scope="col">Correo electrónico para envío de CFDI</th>
                          <th scope="col">Editar</th>
                          <th scope="col">Eliminar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="far fa-edit"></i></td>
                          <td><i class="fas fa-times"></i></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <div class="space-div"></div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </form>
  </body>