<app-navbar-user></app-navbar-user>

<body class="background image">
  <form [formGroup]="valformFacturation" class="form-validate mb-lg" role="form" name="loginForm" novalidate="">
    <div class="container ">
      <div class="col-xl-12">
        <div class="white-color" style="width: auto; height: 100%;">
          <h3 class="text-green">Agregar o editar mis datos de facturación</h3>
          <div class="row container">
            <div class="col-sm-12 col-xl-12">
              <div>
                <h2 class="intense-gray">¿Te gustaría hacer cambios en tus datos?</h2>
                <div class="hr-sect"></div>
              </div>
              <div class="space-div"></div>
              <div class="intense-gray">
                <div class="row">
                  <div class="col-sm-12 col-xl-6">
                      <div *ngIf="edit" class="col-md-6">
                          <label>ID</label>
                          <input class="form-control" type="text" name="id" placeholder="Identificador" autocomplete="off"
                            formControlName="id" disabled />
                        </div>
                    <!-- <button class="btn btn-block green-color2">Descargar ficha de pago</button> -->
                    <div class="left form-group">
                      <label class="left" for="social_reason">Razón social:</label>
                      <input type="text" class="form-control" placeholder="Razón social" autocomplete="off" formControlName="razon_social">
                    </div>
                    <div class="left form-group">
                      <label class="left" for="rfc">RFC:</label>
                      <input type="text" class="form-control" placeholder="RFC" name="rfc" autocomplete="off" formControlName="rfc">
                      <span class="text-danger" *ngIf="valformFacturation.controls['rfc'].hasError('required') && (valformFacturation.controls['rfc'].dirty || valformFacturation.controls['rfc'].touched)">Este
                        campo es requerido</span>
                    </div>
                    <div class="left form-group">
                      <label class="left" for="email">Correo electrónico:</label>
                      <input type="text" class="form-control" placeholder="Correo electrónico" name="email" id="email">
                    </div>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <!--<button class="btn btn-block green-color">Descargar facturas</button>-->
                    <div class="left form-group">
                      <label class="left" for="payment_method">Método de pago:</label>
                      <input type="text" class="form-control" placeholder="Método de pago" name="payment_method" autocomplete="off" formControlName="payment_method">
                      <span class="text-danger" *ngIf="valformFacturation.controls['payment_method'].hasError('required') && (valformFacturation.controls['payment_method'].dirty || valformFacturation.controls['payment_method'].touched)">Este
                        campo es requerido</span>
                    </div>
                    <div class="left form-group">
                      <label class="left" for="use_type">Tipo de uso:</label>
                      <select class="form-control" name="use_type" formControlName="uso_cfdi">
                        <option value="G01">Adquisición de mercancias</option>
                        <option value="G02">Devoluciones, descuentos o bonificaciones</option>
                        <option value="G03">Gastos en general</option>
                        <option value="I01">Construcciones</option>
                        <option value="I02">Mobilario y equipo de oficina por inversiones</option>
                        <option value="I03">Equipo de transporte</option>
                        <option value="I04">Equipo de computo y accesorios</option>
                        <option value="I05">Dados, troqueles, moldes, matrices y herramental</option>
                        <option value="I06">Comunicaciones telefónicas</option>
                        <option value="I07">Comunicaciones satelitales</option>
                        <option value="I08">Otra maquinaria y equipo</option>
                        <option value="D01">Honorarios médicos, dentales y gastos hospitalarios.</option>
                        <option value="D02">Gastos médicos por incapacidad o discapacidad</option>
                        <option value="D03">Gastos funerales.</option>
                        <option value="D04">Donativos.</option>
                        <option value="D05">Intereses reales efectivamente pagados por créditos hipotecarios (casa
                          habitación).</option>
                        <option value="D06">Aportaciones voluntarias al SAR.</option>
                        <option value="D07">Primas por seguros de gastos médicos.</option>
                        <option value="D08">Gastos de transportación escolar obligatoria.</option>
                        <option value="D09">Depósitos en cuentas para el ahorro, primas que tengan como base planes de
                          pensiones.</option>
                        <option value="D10">Pagos por servicios educativos (colegiaturas)</option>
                        <option value="P01">Por definir</option>
                      </select>
                      <span class="text-danger" *ngIf="valformFacturation.controls['uso_cfdi'].hasError('required') && (valformFacturation.controls['uso_cfdi'].dirty || valformFacturation.controls['uso_cfdi'].touched)">Este
                        campo es requerido</span>
                    </div>
                  </div>
                  <div class="col-sm-12 col-xl-12">
                    <div class="row">
                      <div class="col-sm-12 col-xl-6">
                        <button class="btn btn-block gray-color" (click)="cleanForm()">Limpiar</button>
                      </div>
                      <div class="col-sm-12 col-xl-6">
                        <button *ngIf="!edit" class="btn btn-block green-color" (click)="saveFacturation($event)">Guardar</button>
                        <button *ngIf="edit" class="btn btn-block green-color" (click)="save($event)">Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 3%;">
                <table class="table table-striped" style="text-align: center;" >
                  <thead>
                    <tr>
                      <th scope="col">Folio</th>
                      <th scope="col">Razón social</th>
                      <th scope="col">RFC</th>
                      <th scope="col">Método de pago</th>
                      <th scope="col">Correo electrónico para envío de CFDI</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of data; let i = index;">
                      <!--<td>{{d.id}}</td>-->
                      <td>{{d.uso_cfdi}}</td>
                      <td>{{d.razon_social}}</td>
                      <td>{{d.rfc}}</td>
                      <td>{{d.payment_method}}</td>
                      <td></td>
                      <td><button class="none" (click)="editF(d.id)"><i class="far fa-edit"></i></button></td>
                      <td><button class="none" (click)="deleteFacturation(d.id)"><i class="fas fa-times"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="space-div"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</body>