
<!--
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">

<app-menu></app-menu>
<div class="contenedor">
  <div class="new-admin">
    <div class="color-text">
      Crear nuevo administrador
    </div>
    <div class="hr-sect "></div>
    <div class="color-text-2">Crea un nuevo usuario y añadelo a este sitio</div>
    <div class="sm"> 
      <form [formGroup]="valFormUser" role="form" name="loginForm" novalidate=""  >
        <table class="table-register">
            
        <tr>
          <td>Usuario:</td>
          <td for="email">Correo electronico</td>
        </tr>
    
        <tr>
          <td><input type="text" class="form-control" placeholder="@ Ingresa tu usuario" formControlName="name"></td>
        
          <td><input class="form-control" type="text" placeholder="@ CorreoElectronico" formControlName="email" ></td>
        </tr>
        </table>
        <table class=" table-register">
            
        <tr>
          <td>Nombre (s):</td>
          <td for="password">Contraseña</td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" placeholder="@ Ingresa tu nombre" ormControlName="password"></td>

          <td><input class="form-control" type="text"  name="name" autocomplete="off" aria-describedby="emailHelp" placeholder="@ Contraseña" ></td>

        </tr>
        </table>
        <table class="table-register">
           
        <tr>
          <td for="last_nameF">Apellido paterno:</td>
          <td for="c_password">Confirmar contraseña</td>
        </tr>
        
        <tr>
          <td><input type="text" class="form-control" formControlName="lastname" placeholder="@ Apellido paterno" ></td>
          <td><input type="text" class="form-control" formControlName="password_confirmation"  placeholder="@ Coonfirmar contraseña" ></td>
        </tr>
        </table>
        <table class=" table-register">
        <tr>
          <td for="last_nameM">Apellido materno</td>
          <td>Facultades</td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" formControlName="lastname" placeholder="@ Apellido materno"></td>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ Facultades"></td>
        </tr>
        </table>
 
     </form>
    </div>
    <div>
      <button class="btn btn-secondary btn-lg" type="submit" (click)="cleanForm()">Limpiar</button>
    </div>
    <div class="contenedor-image">
      <div class="color-text">Subir Imagen</div>
      <div class="image">
        <div class="rounded">
          <img class="rounded" src="../../../assets/user.jpeg">
          <div class="rounded2">
             <button class="btn btn-primary save " type="submit">Subir foto</button>
             <br>
           <button class="btn btn-primary saves "  type="submit" id="submit" (submit)="save($event)">Guardar</button>
          </div>
        </div>
         
         <i class="icon-trash"></i> 
      
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="L-admin">
        <div class="color-text">Lista de administradores</div>
        <div class="hr-sect "></div>
        <div class="color-text-2">Visualizar administradores registrados</div>
        <table class="table table-striped">
          <thead>
          <tr>
            <td >#</td>
            <td>Usuario</td>
            <td>Nombre (s)</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
            <td>Facultades</td>
            <td>Visualizar</td>
            <td>Editar</td>
            <td>Eliminar</td>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fas fa-times"></i></td>
              </tr>
              <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><i class="fas fa-times"></i></td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
<app-menu></app-menu>
<div class="contenedor">
  <form [formGroup]="valFormUser" class="form-validate mb-lg" role="form" name="loginForm" novalidate="" (submit)="save($event)" style="background: #ffffff;">
    <h1>Crear administrador</h1>
    <div class="hr-sect "></div>
    <h3>Crea un nuvo usuario y añadelo a este sitio.</h3>
    <div class="row">
      <div class="col-sm-4 " style="float: left;">
        <div>
          <label class="text" for="user">User:</label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="form-control" formControlName="user" placeholder="Ingrese su nombre">
          <!--<span class="text-danger" *ngIf="valFormUser.controls['name'].hasError('required') && (valFormUser.controls['name'].dirty || valFormUser.controls['name'].touched)">Este
                campo es requerido</span>-->
          <label for="user" class="fa fa-user input-icon"></label>
        </div>
        <div>
          <label class="text" for="name">Nombre(s):</label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="form-control" formControlName="name" placeholder="Ingrese su nombre">
          <!--<span class="text-danger" *ngIf="valFormUser.controls['name'].hasError('required') && (valFormUser.controls['name'].dirty || valFormUser.controls['name'].touched)">Este
              campo es requerido</span>-->
          <label for="name" class="fa fa-user input-icon"></label>
        </div>
        <div>
          <label class="text" for="last_nameP">Apellido paterno:</label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="form-control" formControlName="lastnameP" placeholder="Apellido paterno">
          <!--<span class="text-danger" *ngIf="valForm.controls['lastname'].hasError('required') && (valForm.controls['lastname'].dirty || valForm.controls['lastname'].touched)">Este
              campo es requerido</span>-->
          <label for="last_nameP" class="fa fa-user input-icon"></label>
        </div>
        <div>
          <label class="text" for="last_nameM">Apellido materno:</label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="form-control" formControlName="lastnameM" placeholder="Apellido materno">
          <!--<span class="text-danger" *ngIf="valForm.controls['lastname'].hasError('required') && (valForm.controls['lastname'].dirty || valForm.controls['lastname'].touched)">Este
              campo es requerido</span>-->
          <label for="last_nameM" class="fa fa-user input-icon"></label>
        </div>

      </div>
      <div class="col-sm-4" style="float: right;">
        <div>
          <label class="text" for="email">Correo electrónico:</label>
        </div>
        <div class="input-wrapper">
          <input type="email" class="form-control" formControlName="email" placeholder="Correo electrónico">
          <label for="email" class="fa fa-envelope input-icon"></label>
        </div>
        <div>
          <label class="text" for="password">Contraseña:</label>
        </div>
        <div class="input-wrapper">
          <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña">
          <!--<span class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">Este
                campo es requerido</span>-->
          <label for="password" class="fa fa-unlock-alt input-icon"></label>
        </div>
        <div>
          <label class="text" for="c_password">Confirmar contraseña:</label>
        </div>
        <div class="input-wrapper">
          <input type="password" id="c_password" class="form-control" formControlName="password_confirmation"
            placeholder="Confirmar contraseña">

          <label for="c_password" class="fa fa-unlock-alt input-icon"></label>
        </div>
        <div>
          <label class="text" for="c_password">Facultades:</label>
        </div>
        <div class="input-wrapper">
          <input type="text" id="admin" class="form-control" formControlName="admin" placeholder="Facultad">

          <label for="c_password" class="fa fa-unlock-alt input-icon"></label>
        </div>


        <!--End green div-->
      </div>

      <br>
      <div class="col-sm-12">
        <h2>Subir imagen</h2>
        <img src="../../../assets/user.jpeg" alt="">
        <div><button type="/file">Subir foto</button>
          <button type="submit" id="submit" class="btn btn-primary btn-color" (submit)="save($event)">Registrarte</button>
        </div>
      </div>

      
    </div>
  </form>
  <div class="row" >
    <div class="col-sm-12" style="background: #ffffff;">
<div class="L-admin">
      <div class="color-text">Lista de administradores</div>
      <div class="hr-sect "></div>
      <div class="color-text-2">Visualizar administradores registrados</div>
      <table class="table table-striped">
        <thead>
        <tr>
          <td >#</td>
          <td>Usuario</td>
          <td>Nombre (s)</td>
          <td>Apellido Paterno</td>
          <td>Apellido Materno</td>
          <td>Facultades</td>
          <td>Visualizar</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row"></th>
            <td> {{fb.user} </td>
            <td>{{user.user}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fas fa-times"></i></td>
              </tr>
        </tbody>
      </table>
    </div>
  
</div>
  </div>
  </div>
  
  