<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">

<app-menu></app-menu>
<div class="contenedor">
  <div class="new-admin">
    <div class="color-text">
      Crear nuevo administrador
    </div>
    <div class="hr-sect "></div>
    <div class="color-text-2">Crea un nuevo usuario y añadelo a este sitio</div>
    <div class="sm">
        <table class="table-register">
            
        <tr>
          <td>Usuario:</td>
          <td>Correo electronico</td>
        </tr>
    
        <tr>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ Ingresa tu usuario"></td>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ CorreoElectronico"></td>
        </tr>
        </table>
        <table class=" table-register">
            
        <tr>
          <td>Nombre (s):</td>
          <td>Contraseña</td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ Ingresa tu usuario"></td>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ CorreoElectronico"></td>
        </tr>
        </table>
        <table class="table-register">
           
        <tr>
          <td>Apellido paterno:</td>
          <td>Confirmar contraseña</td>
        </tr>
        
        <tr>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ Ingresa tu usuario"></td>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ CorreoElectronico"></td>
        </tr>
        </table>
        <table class=" table-register">
        <tr>
          <td>Apellido materno:</td>
          <td>Facultades</td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ Ingresa tu usuario"></td>
          <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@ CorreoElectronico"></td>
        </tr>
        </table>
 
     
    </div>
    <div>
      <button class="btn btn-secondary btn-lg" type="submit">Limpiar</button>
    </div>
    <div class="contenedor-image">
      <div class="color-text">Subir Imagen</div>
      <div class="image">
        <div class="rounded">
          <img class="rounded" src="../../../assets/user.jpeg">
          <div class="rounded2">
             <button class="btn btn-primary save " type="submit">Button</button>
             <br>
           <button class="btn btn-primary saves "  type="submit">Button</button>
          </div>
        </div>
         
         
      
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="L-admin">
        <div class="color-text">Lista de administradores</div>
        <div class="hr-sect "></div>
        <div class="color-text-2">Visualizar administradores registrados</div>
        <table class="table table-striped">
          <thead>
          <tr>
            <td >#</td>
            <td>Usuario</td>
            <td>Nombre (s)</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
            <td>Facultades</td>
            <td>Visualizar</td>
            <td>Editar</td>
            <td>Eliminar</td>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="fas fa-times"></i></td>
              </tr>
              <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><i class="fas fa-times"></i></td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>