<app-menu></app-menu>
<div class="contenedor">
  <div>
    Lista de usuarios
  </div>
  <div class="hr-sect"></div>
  <div class="user">Visalizar usuarios registrados</div>
  <table class="table table-striped">
      <thead>
      <tr>
        <td >#</td>
        <td>Usuario</td>
        <td>Nombre (s)</td>
        <td>Apellido Paterno</td>
        <td>Apellido Materno</td>
        <td>Facultades</td>
        <td>Visualizar</td>
        <td>Editar</td>
        <td>Eliminar</td>
      </tr>
    </thead>
  </table>
  <div class="hr-sect"></div>
  <table class="table table-striped">
    <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-times"></i></td>
            </tr>
      </tbody>
    </table>
</div>