<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<!--
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
-->
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Administrador: <label for="">pedro Luis</label></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <img class="user" src="../../../../assets/images.jpeg" alt="...">
              
              <table class="tables">
                <div>Usuario</div>
                <tr>
                  <td>Nombres:</td>
                  <td>Pedro Luis</td>
                </tr>
                <tr>
                  <td>Apellido paterno:</td>
                  <td>Torres</td>
                </tr>
                <tr>
                    <td>Apellido materno:</td>
                    <td>Gonzales</td>
                  </tr>
                <tr>
                  <td>Facultad</td>
                  <td>Editor</td>
                </tr>
                <tr>
                  <td>Correo electronico</td>
                  <td>pedro@capaciagro.com</td>
                </tr>
                <tr>
                  <td>Registro desde:</td>
                  <td>01/01/2019</td>
                </tr>
              </table>
            </div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Fecha y hora del movimiento</th>
                    <th scope="col">Accion realizada</th>
                  </tr>
                </thead>
                <tr>
                  <td>15 horas, 10/01/2019</td>
                  <td>Valido el pago del Usuario[@usuario]para el evento [nombre del evento]</td>
                </tr>
                <tr>
                  <td>15 horas, 10/01/2019</td>
                  <td>Valido el pago del Usuario[@usuario]para el evento [nombre del evento]</td>
                </tr>
                <tr>
                    <td>15 horas, 10/01/2019</td>
                    <td>Valido el pago del Usuario[@usuario]para el evento [nombre del evento]</td>
                  </tr>
                  <tr>
                      <td>15 horas, 10/01/2019</td>
                      <td>Valido el pago del Usuario[@usuario]para el evento [nombre del evento]</td>
                    </tr>
              </table>
              <div class="hr-sect"></div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-next"><i class="fas fa-angle-double-left"></i>atras</button>
                  <button type="button" class="btn btn-primary">1</button>
                  <button type="button" class="btn btn-primary">2</button>
                  <button type="button" class="btn btn-primary">3</button>
                  <button type="button" class="btn btn-primary btn-next"><i class="fas fa-angle-double-right"></i>Siguiente</button>

                </div>
    </div>
  </div>
</div>
