<div class="contenedor">
  <div class="container">
    <div class="menu">
      <div class="tema">
        Capaciagro
      </div>
      <div class="foto">
        <img class="image" src="https://3.bp.blogspot.com/-wKuiX5J8PzA/XH185zgPt2I/AAAAAAAAAJU/PotPrLUIcgQQ0AFi86srr6NvXBcqeMeSgCLcBGAs/s320/user.jpeg" />
      </div>
      <div class="message">
        Hola, bienvenido Rafael!
      </div>
      <div>
        _________________________________
      </div>
      <div>
        MENU DE NAVEGACIÓN
      </div>
      <div class="botones">
        <button class="btn1">Inicio</button>
      </div>
      <div class="botones">
        <button class="btn1">Usuarios</button>
      </div>
      <div class="botones">
        <button class="btn1">Administrador</button>
      </div>
      <div class="botones">
        <button class="btn1">Eventos</button>
      </div>
      <div class="botones">
        <button class="btn1">Códigos de descuento</button>
      </div>
      <div class="botones">
        <button class="salir">Salir</button>
      </div>
    </div>
    <div class="home">
      <div class="contenedorhome">


        <div class="section1">
          <div class="cuenta">
            Bienvenido a tu cuenta
          </div>
          <div>
            se bienvenido a tu cuentade administrador! Te invitamos a
            que conoscas las estadisticas de todos los eventos realizados.
          </div>
          <div class="event">Principales eventos creados</div>
          <div class="ref">
            <div class="claseA">
              <div class="referencia">Referencias</div>
              <div>SIMPHO</div>
              <div>CONFENH</div>
              <div>CONAFIH</div>
              <div>SIMNEH</div>
            </div>
            <div class="site">Enlace de sitio web</div>
            <div class="Enlace">
              <div><a href="http://registro.capaciagro.com/evento/043">http://registro.capaciagro.com/evento/043</a></div>
            </div>
            <div class="Enlace">
              <div><a href="http://registro.capaciagro.com/evento/043">http://registro.capaciagro.com/evento/043</a></div>
            </div>
            <div class="Enlace">
              <div><a href="http://registro.capaciagro.com/evento/043">http://registro.capaciagro.com/evento/043</a></div>
            </div>
            <div class="Enlace">
              <div><a href="http://registro.capaciagro.com/evento/043">http://registro.capaciagro.com/evento/043</a></div>
            </div>
          </div>
        </div>
        <div class="section2">
          <!---------------------------------->
        </div>
      </div>
    </div>
  </div>
</div>