<div class="contenedor">
  <app-menu></app-menu>
  <div class="form">


    <div class="row ">
      <div class="col-sm-7">
        <div>Bienvenido a tu cuenta</div>
        <div>!se bienvenido a tu cuentade administrador! Te invitamos a
          que conoscas las estadisticas de todos los eventos realizados.</div>
      </div>

      <div class="col-sm-5">
        <img class="img-computer" src="../../../assets/lap.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div>Principales eventos creados</div>
        <div class="background-div table-route">
          <table>
            <tr>
              <th>Referencias</th>
              <th>Enlace del sitio web</th>
            </tr>
            <tr>
              <td>SIMPHO</td>
              <td><a href="http://registro.capaciagro.com/evento/043">http://registro.capaciagro.com/evento/043</a></td>
            </tr>
            <tr>
              <td>CONFENH</td>
              <td><a href="http://registro.capaciagro.com/evento/043">http://registro.capaciagro.com/evento/043</a></td>
            </tr>
            <tr>
              <td>CONAFIH</td>
              <td><a href="http://registro.capaciagro.com/evento/043">http://registro.capaciagro.com/evento/043</a></td>
            </tr>
            <tr>
              <td>SIMNEH</td>
              <td><a href="http://registro.capaciagro.com/evento/043">http://registro.capaciagro.com/evento/043</a></td>
            </tr>
          </table>
        </div>
        <div>
          <div>Dias con mayor flujo</div>
          <div class="background-div">
            <img src="../../../assets/wide.jpg" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div>
          <div>Graficas por centual de los eventos 2019</div>
          <div class="background-div">
            <img src="../../../assets/default.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div>Impacto de ventas (Ventas/carnets)</div>
          <div class="background-div">
            <img src="../../../assets/grafico-lineas-final.jpg" class="img-fluid" alt="Responsive image">
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <div>
          <div>Estadisticas rapidas</div>
          <div class="background-div">
            <div class="ref">Referencias</div>
            <div class="link"> enlace de sitio web</div>
            <div class="ref">Usuarios en linea:</div>
            <div class="link"> 5</div>
            <table class="table">
              <tr>
                <td></td>
                <td>Visitantes</td>
                <td>Visitas</td>
              </tr>
              <tr>
                <td>Hoy:</td>
                <td>111</td>
                <td>364</td>
              </tr>
              <tr>
                <td>ayer:</td>
                <td>111</td>
                <td>364</td>
              </tr>
              <tr>
                <td>Ultimos 7 días(semana):</td>
                <td>111</td>
                <td>364</td>
              </tr>
              <tr>
                <td>Ultimos 30 días(mes):</td>
                <td>111</td>
                <td>364</td>
              </tr>
              <tr>
                <td>Ultimos 365 días(año):</td>
                <td>111</td>
                <td>364</td>
              </tr>
            </table>
          </div>
        </div>
        <div>Cantidad de usuarios por mes</div>
        <div class="background-div">
            <img src="../../../assets/grafico-lineas-final.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div>Género del usuario</div>
        <div class="background-div">
            <table>
              <tr>
                <td>Hombres:</td>
                <td>7,6000</td>
              </tr>
              <tr>
                <td>Mujer</td>
                <td>8,213</td>
              </tr>
            </table>
          </div>
          <div>Cantidad de usuarios por mes</div>
        <div class="background-div">
            <img src="../../../assets/grafico-lineas-final.jpg" class="img-fluid" alt="Responsive image">
          </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-next"><i class="fas fa-angle-double-left"></i>atras</button>
      <button type="button" class="btn btn-primary">1</button>
      <button type="button" class="btn btn-primary">2</button>
      <button type="button" class="btn btn-primary">3</button>
      <button type="button" class="btn btn-primary btn-next"><i class="fas fa-angle-double-right"></i>Siguiente</button>

    </div>
    </div>

  </div>
  
</div>
