<!-- Modal -->
<div class="modal fade" id="downloadFacturas" tabindex="-1" role="dialog" aria-labelledby="downloadFacturas"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div>
        <h3 class="modal-title center-text" id="exampleModalLongTitle">Descarga de facturas</h3>
        <h6 class="center-text">Simposio de Nematodos, Hongos y Bacterias en Frutas y Hortalizas</h6>
        <div class="hr-sect"></div>
      </div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Folio</th>
              <th scope="col">Razón social</th>
              <th scope="col">RFC</th>
              <th scope="col">Cantidad de asistentes</th>
              <th scope="col">Importe</th>
              <th scope="col">PDF</th>
              <th scope="col">XML</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><i class="fas fa-file-download"></i></td>
              <td><i class="fas fa-code"></i></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>