<!-- Modal -->
<div class="modal fade" id="finish_profile" tabindex="-1" role="dialog" aria-labelledby="finish_profile" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close a-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!--
              <div class="modal-body">
              ...
            </div>
            -->
        <div class="text-green">
          <label for="perfil">
            <h3 class="text-green">Paso 2 de 2. Terminar su perfil</h3>
          </label>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <div class="image-upload">
              <label for="file-input">
                <img class="user-image" src="../../../../assets/user-image.png" />
              </label>
              <input id="file-input" type="file" />
            </div>
            <div>
              <button class="btn btn-block btn-gray-img">Subir foto</button>
            </div>
          </div>
          <div class="col-sm-7">
            <div>
              <h2 class="text-gray">Complete todo su perfil para poder continuar</h2>
            </div>
            <div class="hr-sect"></div>
            <label for="name">Nombre(s):</label>
            <div class="input-wrapper">
              <input class="form-control" type="text" id="name" placeholder="Nombre(s)">
              <label for="name" class="fa fa-user input-icon"></label>
            </div>
            <label for="last_nameF">Apellido paterno:</label>
            <div class="input-wrapper">
              <input class="form-control" type="text" id="last_nameF" placeholder="Apellido paterno">
              <label for="last_nameF" class="fa fa-user input-icon"></label>
            </div>
            <label for="last_nameM">Apellido materno:</label>
            <div class="input-wrapper">
              <input class="form-control" type="text" id="last_nameM" placeholder="Apellido materno">
              <label for="last_nameM" class="fa fa-user input-icon"></label>
            </div>
            <label for="country">Pais:</label>
            <div class="input-wrapper">
              <input class="form-control" type="text" id="country" placeholder="Pais">
              <label for="country" class="fa fa-map-marker input-icon"></label>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label for="state">Estado:</label>
                <div class="input-wrapper">
                  <input class="form-control" type="text" id="state" placeholder="Estado">
                  <label for="state" class="fa fa-map-marker input-icon"></label>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="city">Municipio:</label>
                <div class="input-wrapper">
                  <input class="form-control" type="text" id="city" placeholder="Municipio">
                  <label for="city" class="fa fa-map-marker input-icon"></label>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="city">Genero:</label>
                <select class="form-control" name="gender" id="gender">
                  <option value="M">Masculino</option>
                  <option value="F">Femenino</option>
                </select>
              </div>
            </div>
            <label for="birthdate">Fecha de nacimiento: (DD/MM/AAAA)</label>
            <div class="input-wrapper">
              <input class="form-control" type="date" id="birthdate">
            </div>
            <label for="email">Correo electrónico:</label>
            <div class="input-wrapper">
              <input class="form-control" type="text" id="email" placeholder="Correo electrónico">
              <label for="email" class="fa fa-letter input-icon"></label>
            </div>
            <label for="phone">Teléfono celular:</label>
            <div class="input-wrapper">
              <input type="number" id="phone" class="form-control" placeholder="Teléfono celular">
              <label for="phone" class="fa fa-phone input-icon"></label>
            </div>
            <label for="company">Empresa en la que labora:</label>
            <div class="input-wrapper">
              <input type="text" id="company" class="form-control" placeholder="Empresa">
              <label for="company" class="far fa-building input-icon"></label>
            </div>
            <div>
              <button class="btn btn-block btn-enviar">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>