<app-menu></app-menu>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 *ngIf="!edit" class="panel-title">Alta de Eventos</h3>
        <div class="hr-sect"></div>
        <h6 style="color: #07520A; font-weight: bold;">Dar de alta un nuevo evento al sistema</h6>
        <h3 *ngIf="edit" class="panel-title">Edición de Eventos</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="valForm" class="form-validate mb-lg" role="form" name="loginForm" novalidate="" (submit)="save($event)">
          <div class="row">
            <div *ngIf="edit" class="col-md-6">
              <label>ID</label>
              <input class="form-control" type="text" name="id" placeholder="Identificador" autocomplete="off"
                formControlName="id" disabled />
            </div>
            <div class="col-md-4">
              <div class="col-md-12">
                <label>Nombre:</label>
                <input class="form-control" type="text" name="name" placeholder="Nombre" autocomplete="off"
                  formControlName="name" />
                <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">Este
                  campo es requerido</span>
              </div>
              <div class="col-md-12">
                <label>Precio:</label>
                <input class="form-control" type="text" name="name" placeholder="Precio" autocomplete="off"
                  formControlName="price" />
                <span class="text-danger" *ngIf="valForm.controls['price'].hasError('required') && (valForm.controls['price'].dirty || valForm.controls['price'].touched)">Este
                  campo es requerido</span>
              </div>
              <div class="col-md-12">
                <label>Hora <small>(HH:MM):</small></label>
                <input class="form-control" type="time" name="name" placeholder="Hora" autocomplete="off"
                  formControlName="time" mask="00:00" />
                <span class="text-danger" *ngIf="valForm.controls['time'].hasError('required') && (valForm.controls['time'].dirty || valForm.controls['time'].touched)">Este
                  campo es requerido</span>
              </div>
              <div class="col-md-12">
                <label>Capacidad máxima del evento:</label>
                <input class="form-control" type="text" name="name" placeholder="Capacidad maxima del evento"
                  formControlName="max_capacity" />
                <span class="text-danger" *ngIf="valForm.controls['max_capacity'].hasError('required') && (valForm.controls['max_capacity'].dirty || valForm.controls['max_capacity'].touched)">Este
                  campo es requerido</span>
              </div>
              
            </div>
            <div class="col-md-4">
              <div class="col-md-12">
                <label>Fecha del evento:<small>(DD/MM/YYYY)</small></label>
                <input class="form-control" type="date" name="date" placeholder="Fecha del evento" autocomplete="off"
                  formControlName="date" mask="00/00/0000" />
                <span class="text-danger" *ngIf="valForm.controls['date'].hasError('required') && (valForm.controls['date'].dirty || valForm.controls['date'].touched)">Este
                  campo es requerido</span>
              </div>
              <div class="col-md-12">
                <label>Descripcion:</label>
                <textarea class="form-control" rows="5" placeholder="Descripción" autocomplete="off" formControlName="description"></textarea>
                <span class="text-danger" *ngIf="valForm.controls['description'].hasError('required') && (valForm.controls['description'].dirty || valForm.controls['description'].touched)">Este
                  campo es requerido</span>
              </div>
              <div class="col-md-12">
                <label>Sede:</label>
                <input class="form-control" type="text" name="venue" placeholder="Ciudad del evento" autocomplete="off"
                  formControlName="venue" />
                <span class="text-danger" *ngIf="valForm.controls['venue'].hasError('required') && (valForm.controls['venue'].dirty || valForm.controls['venue'].touched)">Este
                  campo es requerido</span>
              </div>
            </div>
            <div class="col-md-4" style="display: inline-block;">
              <div class="col-md-6">
                <label for="styles">Desea que los usuarios visualicen este evento:</label>
                <br>
                <input type="radio" name="enabled" id="sad" class="input-hidden" value="1" formControlName="enabled" checked/>Sí
                <input type="radio" name="enabled" id="happy" class="input-hidden" value="2" formControlName="enabled" checked/>No
              </div>
              <br>
              <div style="display: inline-block;">
                <label for="presentaciones">Subir presentaciones:</label>
                <a class="btn btn-primary btn-block" style="color: white;">Cargar</a>
              </div>
            </div>
          </div> <br><br>
          <!-------------------------------------------------------------------------------->
          
          <div class="row">
            <h3>Estilo de Plantilla</h3>
            <div class="col-md-12" style="display:inline-block;">
            <div class="hr-sect"></div>
            <div class="row">
              <div class="col-md-3">
                <div class="col-md-12 pricipal">
                <div class="stylePlantilla">
                  <div class="banner">Banner</div>
                  <div class="patrocinador">Patrocinadores</div>
                  <div class="area">Área de texto</div>
                  <div class="img-Table">Imagen (tabla de precios)</div>
                </div>
              </div>
              </div>
              <div class="col-md-9">
                  <div class="col-md-3" style="display: inline-block;">
                      <div class="col-md-12" style="display: inline-block;">
                        <label>Banner: 1500 x 289</label> <br>
                        <div class="col-md-12">
                          <div class="col-md-12">
                            <label for="image-input" class="file-upload">
                              <button class="btn btn-primary btn-block">Subir foto</button>
                              <input id="image-input" type="file" (change)="fileChangeEvent($event)">
                            </label>
                          </div>
                          <div class="col-md-6">
                            <img [src]="imageChangedEvent" alt="" style="width: 80%; height:80%">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" style="display: inline-block;">
                      <div class="col-md-12" style="display: inline-block;">
                        <label>Tabla de precios: 1500 x 481 (Px)</label> <br>
                        <div class="col-md-12" style="display: inline-block">
                          <div class="col-md-12">
                            <label for="image-input" class="file-upload">
                              <button class="btn btn-primary btn-block">Subir foto</button>
                              <input id="image-input" type="file" (change)="fileChangeEvent2($event)">
                            </label>
                          </div>
                          <div class="col-md-6">
                            <img [src]="imageChangedEvent2" alt="" style="width: 80%; height:80%">
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-md-3" style="display: inline-block;">
                      <div class="col-md-12" style="display: inline-block;">
                        <label>Patrocinadores: 1500x</label> <br>
                        <div class="col-md-12" style="display: inline-block">
                          <div class="col-md-12">
                            <label for="image-input" class="file-upload">
                              <button class="btn btn-primary btn-block">Subir foto</button>
                              <input id="image-input" type="file" (change)="fileChangeEvent3($event)">
                            </label>
                          </div>
                          <div class="col-md-6">
                            <img [src]="imageChangedEvent3" alt="" style="width: 80%; height:80%">
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-md-3" style="display: inline-block;">
                      <div class="col-md-12">
                        <label>Fondo: (1800 x 2800 Px)</label> <br>
                        <div class="col-md-12" style="display: inline-block">
                          <div class="col-md-12">
                            <label for="image-input" class="file-upload">
                              <button class="btn btn-primary btn-block">Subir foto</button>
                              <input id="image-input" type="file" (change)="fileChangeEvent4($event)">
                            </label>
                          </div>
                          <div class="col-md-6">
                            <img [src]="imageChangedEvent4" alt="" style="width: 80%; height:80%">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
            </div>
          </div><br><br>
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary precios">Alta de precios</button>
            </div>
            <div class="col-md-6">
              <button *ngIf="!edit" class="btn vista gray" type="button" (click)="cleanForm()">Limpiar</button>
              <button type="button" class="btn vista orange">Previsualizar</button>
              <button class="btn vista green" style="color: white;" type="submit">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> <br>
<div class="row">
    <div class="col-md-12 card">
      <div class="row">
        <div class="col-md-8" style="margin-top:2%;">
          <button class="btn btn-info margin-top-btn" style="color: white" (click)="exportToExcel(data)">
            Exportar
          </button>
        </div>
        <div class="col-md-4"> <br>
          <input class="form-control" type="text" placeholder="Buscar ..." [(ngModel)]="filter">
        </div>
      </div> <br>
  
      <table class="table table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Fecha del evento</td>
                <td>Hora</td>
                <td>Precio</td>
                <td>Capacidad del evento</td>
                <td>Numero de incripciones</td>
                <td>Visualizar</td>
                <td>Usuarios y acciones</td>
                <td>Editar</td>
                <td>Exportar</td>
                <td>Eliminar</td>
              </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data" >
            <td>{{d.id}}</td>
            <td><button type="button" routerLink="/accionde_usuario/{{d.id}}"  class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" >{{d.name}}</button> </td>
            <td>{{d.date}}</td>
            <td>{{d.time}}</td>
            <td>{{d.price}}</td>
            <td>{{d.max_capacity}}</td>
            <td>{{d.inscriptions_count}}</td>
            <td></td>
            <td><i class="fas fa-user"></i></td>
            <td><button class="drop" style="margin-left: 2%" [disabled]="disabled" type="button" (click)="editF(d.id)">
              <i class="fas fa-eraser"></i>
            </button></td>
            <td><i class="fas fa-download"></i></td>
            <td><button class="drop" style="margin-left: 2%" [disabled]="disabled" type="button" (click)="delete(d.id)">
              <i class="fas fa-times"></i>
            </button></td>
            <!--
              <td style="text-align:center">
              <button style="margin-left: 2%" class="btn btn-danger" [disabled]="disabled" type="button" (click)="delete(data)">
                <i class="icon-trash"></i>
              </button>
              <button style="color:white; margin-left: 2%" class="btn btn-info" [disabled]="disabled" type="button"
                (click)="show(data.id)">
                <i class="icon-user"></i>
              </button>
              <button style="color:white; margin-left: 2%" class="btn btn-warning" [disabled]="disabled" type="button"
                (click)="editF(data.id)">
                <i class="icon-pencil"></i>
              </button>
              <a class="btn btn-primary" style="color: white; margin-left: 2%" (click)="paymentsShow(data);">
                <i class="fa fa-money-bill"></i>
              </a>
            </td>
            -->
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<!--
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large modal</button>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div>Usuarios y acciones</div>
      <div class="hr-sect"></div>
      <div>Simposio de Nematodos, Hongos y Bacterias en Frutas y Hortalizas</div>
      <div>
        <table class="table topic">
          <thead class="thead">
            <tr >
              <th scope="col">Folio</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellido materno</th>
              <th scope="col">Correo</th>
              <th scope="col">Estatus</th>
              <th scope="col">Número de inscripciones</th>
              <th scope="col">Importe</th>
              <th scope="col">Visualizar recibo de pago</th>
              <th scope="col">Validar y confirmar</th>
              <th scope="col">Facturar a razon social</th>
              <th scope="col">Subir PDF</th>
              <th scope="col">Subir XML</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tr  >
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"><button type="button" class="btn btn-light"><i class="fas fa-eye eye"></i></button></td>
                <td scope="col"><button type="button" class="btn btn-light"><i class="far fa-envelope letter"></i></button></td>
                <td scope="col"><i class="far fa-newspaper"></i></td>
                <td scope="col"><i class="fas fa-download"></i></td>
                <td scope="col"><i class="fas fa-code"></i></td>
                <td scope="col"><i class="fas fa-eraser"></i></td>
                <td scope="col"><i class="fas fa-times"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Razon social</th>
                <th scope="col">RFC</th>
                <th scope="col">Método de pago</th>
                <th scope="col">Correo electronico para envio de CDFI</th>
              </tr>
            </thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>

</div>-->