<app-navbar-user></app-navbar-user>
<body class="background image">
    <form>
      <div class="container ">
        <div class="col-xl-12">
          <div class="white-color">
            <h3 class="text-green">Mis compras realizadas</h3>
            <div class="row container">
              <div class="col-sm-6 col-xl-6">
                <div>
                  <img class="img center" src="../../../../assets/Nematodos.jpeg" alt="">
                  <p class="text-gray">Semposio de Nematodos, Hongos y Bacterias en Frutas y Hortalizas.</p>
                  <div class="fas fa-map-marker-alt text-gray-low">Sede: Guadalajara, Jalisco, México</div>
                  <br>
                  <div class="fa fa-calendar text-gray-low">21 y 22 de febrero de 2019</div>
                  <br>
                  <p class="text-size">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus repellat eos suscipit placeat
                    voluptatem provident odit eveniet ducimus quas debitis, esse saepe quidem enim, expedita voluptas
                    molestiae ex pariatur natus!
                  </p>
                    <div class="col-sm-12 col-xl-12 form-group text-center">
                      <div class="text-center">
                        <!-- <button class="btn btn-primary btn-center border border-dark" style="font-weight: bold;">Subir pago</button> -->           
                        <a class="btn brown-color btn-block btn-center border border-dark" style="font-weight: bold; color: white" data-toggle="modal" data-target="#confirmacionInscripcion">Descargar memoria del evento</a>
                      </div>
                    </div>
                </div>
                <div class="space-div"></div>
                <div class="intense-gray">
                  <div class="row">
                    <div class="col-sm-12 col-xl-7">
                      <!-- <button class="btn btn-block green-color2">Descargar ficha de pago</button> -->
                      <a class="btn btn-block btn-primary" style="font-weight: bold; color: white; border-radius: 15px;" data-toggle="modal" data-target="#confirmacion_inscripcion">Ver compras</a>
                    </div>
                    <div class="col-sm-12 col-xl-5">
                      <!--<button class="btn btn-block green-color">Descargar facturas</button>-->
                        <a class="btn btn-block green-color2" data-toggle="modal" data-target="#downloadFacturas">Descargar facturas</a>
                    </div>
                  </div>
                </div>
                <div class="space-div"></div>
              </div>
              <div class="col-sm-4 col-xl-6">
                <div>
                  <img class="img center" src="../../../../assets/Hortalizas2.png" alt="">
                  <p class="text-gray">IV Simposio de Producción de Hortalizas Orgánicas</p>
                  <div class="fas fa-map-marker-alt text-gray-low">Sede: Culiacán, Sinaloa, México</div>
                  <br>
                  <div class="fa fa-calendar text-gray-low">2 y 3 de mayo de 2019</div>
                  <br>
                  <p class="text-size">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus repellat eos suscipit placeat
                    voluptatem provident odit eveniet ducimus quas debitis, esse saepe quidem enim, expedita voluptas
                    molestiae ex pariatur natus!
                  </p>
                </div>
              </div>
              <div class="col-sm-4 col-xl-6">
                <img class="img center" src="../../../../assets/Nematodos2.jpeg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, aliquid fugiat. Modi, laudantium
                  assumenda et nesciunt iusto pariatur minima officiis iste corrupti mollitia in nostrum quod aspernatur
                  vel recusandae aliquam?</p>
              </div>
              <div class="col-sm-4 col-xl-6">
                <img class="img center" src="../../../../assets/Congreso.png" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis impedit vero nesciunt placeat
                  ratione quidem corrupti atque accusantium. Ratione distinctio doloribus officia vero, aperiam enim
                  explicabo repellendus. Alias, non. Aliquam!</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </form>
  </body>
  <app-confirmacion-inscripcion></app-confirmacion-inscripcion>
  <app-descarga-factura></app-descarga-factura>