
.contenedor{
    width: 100%;
    height: 635px;
    margin: 0;
    background-image: url('../../../../assets/CapaciagroImg.png');
    padding: 7% 0% 0% 20%;



}
.logo{
      
    width: 100%;
    font-size: 100px;
}
.form-control{
    width: 90%;
    border-radius: 20px;
}
.form-group{
    background: #f5f0f0;
    width: 50%;
    border-radius: 20px;
    padding: 2%;
    float: left;
    opacity: .9;
}
.btn-success{
  margin: 5% 0% 5% 30%;
  width: 40%;
  border-radius: 10px;
  background: #096209;
}
.recomendacion{
    width: 20%;
    height: 425px;
    float: right;
    margin-right: 27%;
    background: #085205;
    border-radius: 25px;
    padding: 2%;
}


.question{
    margin: 5% 5% 5% 5%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.registrar{
    width: 100%;
    height: 40px;
    color: #ffffff;
    background: #088d03;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 15%;
    
}
li{
    color: #ffffff;
    padding-bottom: 10%;
    
}
.recuperar{
    margin: 0% 0% 0% 15%;
}
h6{
    padding-top: 2%;
}