<div class="contenedor">
  <div class="container row">
    <div class="col-md-8">
      <form class="form  " [formGroup]="valForm" class="form-validate mb-lg" role="form" name="loginForm"
        novalidate="" (submit)="submitForm($event)">

          <div class="form-group ">
            <div class="font capaciagro">
              <img class="logo" src="../../../../assets/Header-03.png" />
            </div>
            <h3>Iniciar sesión</h3>
            <h6>Correo electronico;</h6>
            <div class="password">
              <input class="correo form-control" type="text" id="" formControlName="email" required="" placeholder="Ingresa tu correo electronico">
            </div>
            <h6>Contraseña:</h6>
            <div class="password ">
              <input type="password" class="correo form-control " formControlName="password" required="" id="password"
                placeholder="Contraseña">
            </div>
            <div class="iniciar">
              <button class="btn btn-success" type="submit">Iniciar Sesión</button>

            </div>
            <div class="recuperar">
              ¿Olvidaste tu contraseña? | <a data-toggle="modal" data-target="#recoverEmail"> recuperar contraseña</a>
            </div>
          </div>
      </form>
      
    </div>
    <div class="col-md-4">
        <div class="recomendacion ">
          <div class="question"> ¿A un no eres usuario?</div>
          <div class="registrate">
            <button class="registrar" routerLink="/register-user" type="submit">Registrate</button>
          </div>
  
          <div class="">
            <div class="li">
              <li>Sigue los eventos que te interesen.</li>
            </div>
  
            <li>Enterate de que esta hablando la gente.</li>
  
          </div>
        </div>
      </div>
  </div>
</div>