<app-navbar-user></app-navbar-user>
<body class="background image">
  <form>
    <div class="container ">
      <div class="col-xl-12">
        <div class="white-color">
          <h3 class="text-green">Encuentra el próximo evento al que querrás asistir</h3>
          <div class="row container">
            <div *ngFor="let d of data" class="col-sm-4 col-xl-6">
              <div>
                <!--<img class="img center" src="{{url}}{{d.img2}}" alt="">-->
                <img class="img center" src="../../../../assets/Nematodos2.jpeg" alt="">
                <p class="text-gray">{{d.name}}</p>
                <div class="fas fa-map-marker-alt text-gray-low">Sede: Guadalajara, Jalisco, México</div>
                <br>
                <div class="fa fa-calendar text-gray-low">{{d.date}}</div>
                <br>
                <p class="text-size">
                  {{d.description ? d.description.substring(0, 300): ''}}
                </p>
                <div class="row">
                  <div class="col-sm-2 col-xl-6 form-group">
                    <div>
                      <button class="btn btn-block green-color" routerLink="/detail-event">Ver más</button>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xl-6 form-group">
                    <div>
                      <a class="btn btn-block gray-color" style="color: white" data-toggle="modal" data-target="#addAsistentes">Añadir
                        al carrito</a>
                      <!--<button class="btn btn-block gray-color"> Añadir al carrito</button>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="space-div"></div>
              <div class="intense-gray">
                <div class="row">
                  <div class="col-sm-2 col-xl-6 size center-icon">
                    <a class="far fa-clock input-icon "><a class="subr">Horario:</a> </a><br><a>{{d.time ? d.time : '10:00'}}</a>
                  </div>
                  <div class="col-sm-2 col-xl-6 size center-icon">
                    <a class="fas fa-file-invoice-dollar"><a>Precio por persona:</a></a><br><a class="subr">${{d.price}}</a>
                  </div>
                </div>
              </div>
              <div class="space-div"></div>
            </div>         
          </div>
        </div>
      </div>
    </div>
    
  </form>
</body>

<!-- Modal -->
-<div class="modal fade" id="addAsistentes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="text-green text-center">
        <label for="perfil">
          <h3 class="text-green text-center">Añadir asistentes</h3>
        </label>
      </div>
      <div class="text-center text-gray-strong">
        <h2 class="text-gray-strong">Preinscripción de asistentes</h2>
      </div>
      <div class="hr-sect"></div>
      <div class="row">
        <div class="col-sm-6">
          <div style="margin-left: 10%;">
            <div>
              <label class="text" for="cPreinscripcion">Cantidad de personas a preinscribir:</label>
            </div>
            <div class="input-wrapper">
              <input type="text" class="form-control" id="cPreinscripcion" placeholder="Cantidad">
              <label for="cPreinscripcion" class="fas fa-user input-icon2"></label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-block green-color" style="margin-top: 5%;">Confirmar</button>
        </div>
      </div>
      <!--End-Row-->
      <div>
        <h6 class="subr" style="text-align: left; margin-top: 5%;">REGISTRO 1</h6>
        <div class="div-border">
          <table>
            <td>
              <label class="text" for="name">Nombre(s):</label>
            </td>
            <td>
              <label class="text" for="last_nameF">Apellido paterno:</label>
            </td>
            <td>
              <label class="text" for="last_nameM">Apellido materno:</label>
            </td>
            <td>
              <label class="text" for="email">Correo electrónico:</label>
            </td>
            <td>
              <label class="text" for="phone">Teléfono celular:</label>
            </td>
            <tr>
              <td>
                <input type="text" id="name" class="form-control" placeholder="Nombres">
                <label for="name"></label>
              </td>
              <td>
                <input type="text" id="last_nameF" class="form-control" placeholder="Apellido paterno">
                <label for="last_nameF"></label>
              </td>

              <td>
                <input type="text" id="last_nameM" class="form-control" placeholder="Apellido materno">
                <label for="last_nameM"></label>
              </td>
              <td>
                <input type="email" id="email" class="form-control" placeholder="Correo electrónico">
                <label for="email"></label>
              </td>
              <td>
                <input type="number" id="phone" class="form-control" placeholder="Teléfono celular">
                <label for="phone"></label>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <h6 class="subr" style="text-align: left; margin-top: 5%;">REGISTRO 2</h6>
          <div class="div-border">
            <table>
              <td>
                <label class="text" for="name">Nombre(s):</label>
              </td>
              <td>
                <label class="text" for="last_nameF">Apellido paterno:</label>
              </td>
              <td>
                <label class="text" for="last_nameM">Apellido materno:</label>
              </td>
              <td>
                <label class="text" for="email">Correo electrónico:</label>
              </td>
              <td>
                <label class="text" for="phone">Teléfono celular:</label>
              </td>
              <tr>
                <td>
                  <input type="text" id="name" class="form-control" placeholder="Nombres">
                  <label for="name"></label>
                </td>
                <td>
                  <input type="text" id="last_nameF" class="form-control" placeholder="Apellido paterno">
                  <label for="last_nameF"></label>
                </td>

                <td>
                  <input type="text" id="last_nameM" class="form-control" placeholder="Apellido materno">
                  <label for="last_nameM"></label>
                </td>
                <td>
                  <input type="email" id="email" class="form-control" placeholder="Correo electrónico">
                  <label for="email"></label>
                </td>
                <td>
                  <input type="number" id="phone" class="form-control" placeholder="Teléfono celular">
                  <label for="phone"></label>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!--End Div-Registers-->
        <div class="row" style="margin-top: 5%; margin-left: 10%;">
          <div class="col-sm-6">
            <div>
              <label for="">Método de pago:</label>
            </div>
            <div>
              <select name="paidmethod" class="form-control" id="paidmethod">
                <option value="">Paypal</option>
                <option value="">Depósito</option>
              </select>
            </div>
            <div style="margin-top: 3%; margin-bottom: 3%;">
              <button class="btn btn-block gray-color">Limpiar</button>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="code">Código de descuento</label>
            <input type="text" class="form-control" placeholder="Código">
            <div style="margin-top: 3%; margin-bottom: 3%;">
              <button class="btn btn-block green-color">Guardar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>