.contenedor{
    width: 100%;
    height: 550px;
    margin: 0;
    background-image: url('../../../../assets/vrds.jpg');

}
.font {
    color: #cccccc;
}

.form{
    
    background:rgb(243, 243, 235);
    width: 35%;
    height: 320px;
    border-radius: 30px;
    margin-left: 20%;
    margin-top: 5%;
    float: left;
    opacity: .9;
}
.form-group{
    padding: 1%;
}

.capaciagro{
    font-size: 50px; 
    margin-bottom: 20px;

}
.sesion{
    font-size: 20px;
    color: #888888;
}
.email{
    font-size: 15px;
}
.correo{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #afa8a8;
}
.btn{
    background: #2c5e23fa;
    color: #ffffff;
    width: 30%;
    height: 30px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    margin: 2% 0% 2% 30%;
}
.recuperar{
width: 100%;
}
.logo{
    width: 35px;
    height: 35px;
    margin-left: 5%;
}
.uno{
    width: 80%;
    margin-left: 10%;
}
.dos{
    width: 60%;
   
    margin-left: 15%;
}
.recomendacion{
    width: 15%;
    height: 320px;
    float: right;
    margin-right: 28%;
    margin-top: 5%;
    background: #085205;
    border-radius: 25px;
}
.no{
    margin: 5% 5% 5% 5%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
}
.registrar{
    color: #ffffff;
    background: #088d03;
    border: 0;
    border-radius: 5px;
    height: 30px;
}.ul ul li{
    font-size: 12px;
}

@media all and (max-width:900px){
    .form{
        width: 50%;
        margin-left: 5%;
        margin-right: 0;

    }
    .recomendacion{
        width: 30%;
        margin-left: 0%;
        margin-right: 11%;

    }
}
.img-fluid{
    color: #000000;
}
/**/