<div class="contenedor">
    <form class="form form-group">

        <div class="font capaciagro">
            <img src="../../../../assets/Header-03.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="font sesion">
          Iniciar Sesión
        </div>
        <div class="font email">
          correo Electronico
        </div>
        <div class="password">
          <input type="text" class="correo password" id="correo" placeholder="Ingresa tu correo electronico">
        </div>
    
        <div class="font email ">
          contraseña
        </div>
        <div class="password ">
          <input type="password" class="correo password" id="password" placeholder="Contraseña">
    
        </div>
        <div class="iniciar">
          <button class="btn btn-large btn-color-green btn-block text-color" type="submit">Iniciar Sesión</button>
    
        </div>
        <div class="recuperar">
          ¿Olvidaste tu contraseña? | <a href="#">recuperar contraseña</a>
        </div>
    
      </form>
    
      <div class="recomendacion ">
        <div class="no"> ¿Aún no eres usuario?</div>
        <div class="registrate">
          <button class="registrar no" type="submit">Registrate</button>
        </div>
        <div class="ul">
          <div class="ul li no">
            <ul>
              <li>Sigue los eventos que te interesen.</li>
            </ul>
            <ul class="no">
              <li>Enterate de que esta hablando la gente.</li>
            </ul>
          </div>
        </div>
      </div>

</div>