<app-navbar-user></app-navbar-user>
<body class="background image">
  <form>
    <div class="container ">
      <div class="col-xl-12">
        <div class="white-color">
          <div>
            <img class="img center" src="../../../../assets/Nematodos.jpeg" alt="">
          </div>
          <div class="intense-gray">
            <div>
              <img class="img img-sponsor" src="../../../../assets/Nematodos.jpeg" alt="">
            </div>
          </div>
          <div>
            <h3 class="text-gray">Semposio de Nematodos, Hongos y Bacterias en Frutas y Hortalizas</h3>
            <p class="text-center">Los nematodos, hongos y bacterias son un agujero en el bolsillo de los productores
              hortofruticolas en el pais, pues estos causan, a nivel mundial, cerca de 100, 000 millones de perdidas.
              Es por ello que las labores de prevención son de alto impacto economico en el sector.</p>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xl-6">
              <table class="table table-striped text-center">
                <thead class="color-red">
                  <tr>
                    <th scope="col">PREINSCRIPCIÓN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>$ 3543 (MXN) <br> precio neto </td>
                  </tr>
                  <tr>
                    <td><a class="text-gray">Fecha límite:</a> 8 de febrero</td>
                  </tr>
                  <tr>
                    <td><a class="text-gray">Incluye: </a>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Consequuntur, temporibus.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6 col-xl-6">
              <table class="table table-striped text-center">
                <thead class="color-red">
                  <tr>
                    <th scope="col">INSCRIPCIÓN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>$ 4060 (MXN) <br> precio neto </td>
                  </tr>
                  <tr>
                    <td><a class="text-gray">Precio a partir del 8 de febrero</a></td>
                  </tr>
                  <tr>
                    <td><a class="text-gray">Incluye: </a>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Consequuntur, temporibus.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xl-12">
              <button class="btn btn-block green-color">AÑADIR A MI CARRITO</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>