
<div class="menu">
  <div class="tema">
    <img class="rounded mx-auto d-block" src="../../../assets/Capaciagro-logo2.png" alt="">
  </div>
  <div class="foto">
    <img class="mx-auto d-block roundeds" src="https://3.bp.blogspot.com/-wKuiX5J8PzA/XH185zgPt2I/AAAAAAAAAJU/PotPrLUIcgQQ0AFi86srr6NvXBcqeMeSgCLcBGAs/s320/user.jpeg" />
  </div>
  <div class="message">
    Hola, bienvenido Rafael!
  </div>
  <div class="hr-sect "></div>
  <div class="messages message">
    MENU DE NAVEGACIÓN
  </div>
  <div class="botones">
      <button class="btn1" type="submit">Inicio</button>
  </div>
  <div class="botones">
    <button class="btn1" type="submit">Usuarios</button>
  </div>
  <div class="botones">
    <button class="btn1" type="submit" routerLink="/nuevoadministrador/">Administrador</button>
  </div>
  <div class="botones">
    <button class="btn1" type="submit" routerLink="/register-event/">Eventos</button>
  </div>
  <div class="botones">
      <button type="submit" class="btn btn1" data-toggle="modal" data-target=".bd-example-modal-lg">Codigos de descuento</button>
    
  </div>
  <div class="botones">
    <button class="salir" type="submit"><i class="fas fa-power-off"></i> Salir</button>
  </div>
</div>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="body">
        <div class="code letter">Codigo: smnajc</div>
        <div class="search">
          <div>Buscar:</div>
          <input class="input" type="text" placeholder="Busqueda">
          <button class="export" type="submit">Exportar BD</button>
        </div>
        
      </div>
      <div class="hr-sect"></div>
      <div class="topic">V Simposio de Manejo de Nematodos en Hortalizas</div>
        <div class="estate">
          <div>Precio neto: <label for="">4500</label></div>
          <div>Uso Máximo del código: <label for="">150</label></div>
          <div>Caducidad del código: <label for="">20/02/2019</label></div>
          <div>Cantidad utilizados: <label for="">29</label></div>
        </div>
        <div class="letter">Lista de usuarios que han utilizado este código</div>
        <div class="hr-sect"></div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombres</th>
              <th scope="col">Apellido paterno</th>
              <th scope="col">Apellido materno</th>
              <th scope="col">Perfil de usuario</th>
              <th scope="col">Estatus</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tr>
            <td>Pedro Luis</td>
            <td>Lopéz</td>
            <td>Lopéz</td>
            <td><i class="fas fa-user"></i></td>
            <td>Pendiente</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr>
              <td>Pedro Luis</td>
              <td>Lopéz</td>
              <td>Lopéz</td>
              <td><i class="fas fa-user"></i></td>
              <td>Pendiente</td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
                <td>Pedro Luis</td>
                <td>Lopéz</td>
                <td>Lopéz</td>
                <td><i class="fas fa-user"></i></td>
                <td>Pendiente</td>
                <td><i class="fas fa-times"></i></td>
              </tr>
        </table>
                <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-next"><i class="fas fa-angle-double-left"></i>atras</button>
            <button type="button" class="btn btn-primary">1</button>
            <button type="button" class="btn btn-primary">2</button>
            <button type="button" class="btn btn-primary">3</button>
            <button type="button" class="btn btn-primary btn-next"><i class="fas fa-angle-double-right"></i>Siguiente</button>

          </div>
        </div>

  </div>
</div>