<app-navbar-user></app-navbar-user>

<body class="image">
  <form [formGroup]="valFormUser" class="form-validate mb-lg" role="form" name="loginForm" novalidate="">
    <div class="container white-color">
      <div class="text-green">
        <label for="perfil">
          <h3 class="text-green">Editar mi perfil</h3>
        </label>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div>
            <label for="file-input">
              <img *ngIf="!isStored" class="user-image" src="{{url}}{{user.avatar}}" />
              <img *ngIf="isStored" style="display: inline-block; width:700; height:500" class="user-image"
                [src]="imageChangedEvent" alt="">
            </label>
          </div>
          <div class="upload-btn-wrapper">
            <button class="btn btn-block btn-gray-img">Subir foto</button>
            <input type="file" name="myfile" (change)="fileChangeEvent($event)" />
          </div>
        </div>
        <div class="col-sm-7">
          <div>
            <h2 class="text-gray">¿Te gustaría hacer cambios en tu cuenta?</h2>
          </div>
          <div class="hr-sect"></div>
          <label for="name">Nombre(s):</label>
          <div class="input-wrapper">
            <input class="form-control" type="text" id="name" placeholder="Nombre(s)" value="{{user.name}}"
              formControlName="name">
            <label for="name" class="fa fa-user input-icon"></label>
          </div>
          <label for="last_nameF">Apellidos:</label>
          <div class="input-wrapper">
            <input class="form-control" type="text" id="last_nameF" placeholder="Apellidos" value="{{user.lastname}}"
              formControlName="lastname">
            <label for="last_nameF" class="fa fa-user input-icon"></label>
          </div>
          <label for="country">Pais:</label>
          <div class="input-wrapper">
            <input class="form-control" type="text" id="country" placeholder="Pais">
            <label for="country" class="fa fa-map-marker input-icon"></label>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="state">Estado:</label>
              <div class="input-wrapper">
                <input class="form-control" type="text" id="state" placeholder="Estado">
                <label for="state" class="fa fa-map-marker input-icon"></label>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="city">Municipio:</label>
              <div class="input-wrapper">
                <input class="form-control" type="text" id="city" placeholder="Municipio">
                <label for="city" class="fa fa-map-marker input-icon"></label>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="city">Genero:</label>
              <select class="form-control" name="gender" id="gender" formControlName="gender" value="{{user.gender}}">
                <option value="hombre">Masculino</option>
                <option value="mujer">Femenino</option>
              </select>
            </div>
          </div>
          <label for="birthdate">Fecha de nacimiento: (DD/MM/AAAA)</label>
          <div class="input-wrapper">
            <input class="form-control" type="date" id="birthdate" formControlName="birthdate">
          </div>
          <label for="email">Correo electrónico:</label>
          <div class="input-wrapper">
            <input class="form-control" type="text" id="email" placeholder="Correo electrónico" formControlName="email"
              value="{{user.email}}">
            <label for="email" class="fa fa-letter input-icon"></label>
          </div>
          <label for="phone">Teléfono celular:</label>
          <div class="input-wrapper">
            <input type="number" id="phone" class="form-control" placeholder="Teléfono celular"
              formControlName="cellphone" value="{{user.cellphone}}">
            <label for="phone" class="fa fa-phone input-icon"></label>
          </div>
          <label for="company">Empresa en la que labora:</label>
          <div class="input-wrapper">
            <input type="text" id="company" class="form-control" placeholder="Empresa" formControlName="company"
              value="{{user.company}}">
            <label for="company" class="far fa-building input-icon"></label>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button *ngIf="!edit" class="btn btn-block btn-enviar" type="submit"
                (click)="editF(user)">Guardar</button>
              <button *ngIf="edit" class="btn btn-block btn-enviar" type="submit"
                (click)="save($event)">Guardar</button>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-block btn-orange">Cambiar contraseña</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>