<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="topic">Usuario</div>
      <div class="hr-sect"></div>
        <div class="modal-body">
          <div class="user">
             <img class="rr" src="../../../../assets/images.jpeg" alt="...">
          </div>
           <div class="tables">
              <div class="tabless">
                  <div>Registro desde: <label for="">01/01/2019</label></div>
                  <div>Nombres: <label for="">Pedro Luis</label></div>
                  <div>Apellido paterno: <label for="">Torres</label></div>
                  <div>Apellido materno: <label for="">Gonzales</label></div>
                  <div>Genero:<label for="">Masculino</label></div>
                  <div> Fecha de nacimiento:<label for="">19 de julio de 1989</label></div>
                  <div>País:<label for="">México</label></div>
                  <div>Estado<label for="">Baja californi</label></div>
                  <div>Municipio:<label for="">Mexicali</label></div>
                  <div>Correo electronico:<label for="">PedroL89@hmail.com</label></div>
                  <div>Telefono celular:<label for="">(686)456 7812</label></div>
                  <div>Empresa en la que labora: <label for="">Agro Tech Nutrition</label></div>
              </div>
             <!--<table class="tabless">
                <tr class="colum">
                    <td>Registro desde:</td>
                    <td class="colum">01/01/2019</td>
                  </tr>
              <tr>
                <td>Nombres:</td>
                <td>Pedro Luis</td>
              </tr>
              <tr>
                <td>Apellido paterno:</td>
                <td>Torres</td>
              </tr>
              <tr>
                  <td>Apellido materno:</td>
                  <td>Gonzales</td>
                </tr>
                <tr>
                    <td>Genero:</td>
                    <td>Masculico</td>
                  </tr>
                  <tr>
                    <td>Fecha de nacimiento:</td>
                    <td >19 de julio de 1899</td>
                  </tr>
                  <tr>
                    <td>País</td>
                    <td >México</td>
                  </tr>
                  <tr>
                    <td>Estado</td>
                    <td>Baja california</td>
                  </tr>
                  <tr>
                    <td>Municipio</td>
                    <td >Mexicali</td>
                  </tr>
                  <tr>
                    <td>Correo electronico:</td>
                    <td >pedroL99@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Telefono celular</td>
                    <td >(684) 456 7812</td>
                  </tr>
              <tr>
                <td class="colum">Empresa en la que labora</td>
                <td>Agro Tech Nutrition</td>
              </tr>
              
            </table>-->
             
          </div>
            
            
           
          </div>
          <div class="topic">Historial de este Usuario</div>
          <div><table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Compras</th>
                  <th scope="col">Cantidad de personas</th>
                  <th scope="col">Fecha de compra</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td>Simposio de...</td>
                  <td>1</td>
                  <td>25/10/2019</td>
                </tr>
                <tr>

                 
                  <td>Congreso nacional ...</td>
                  <td>1</td>
                  <td>25/10/2019</td>
                </tr>
                <tr>
                  <td>Simposio de H...
                  </td> <td>1</td>
                  <td>25/10/2019</td>
                  
                  
                </tr>
                
              </tbody>
            </table></div>
    </div>
  </div>
</div>
